$main-bg-color: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
$main-text-color: #fff;
$main-font-size: 2.5rem;

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: $main-bg-color;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100vw;
    margin: 160px 0;
}

.title {
    text-align: center;
    color: $main-text-color;
    font-weight: 600;
    font-size: 4.5rem;
    align-items: center;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
    }
}

.skills {
    color: $main-text-color;
    text-align: center;
    font-size: $main-font-size;

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        font-size: 1.8em;
    }
}

.button {
    color: $main-text-color;
    background: #007bff;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    z-index: 10;
    cursor: pointer;
    font-size: 100%;
    border: none;
    outline: none;

    a {
        text-decoration: none;
        color: $main-text-color;
        font-weight: 400;
    }
}