.container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: hsla(240,5%,41%,.2) 0px 7px 29px 0px;;
    padding: 2em;
    text-align: center;
    transition: transform 0.2s linear;
    width: 20em;
    height: 35em;
    background: #fff;
}

@media (max-width: 370px) {
    .container {
        width: 15em; 
        height: 40em;
    }
}


.container:hover{
    transform: translateY(-7px);
}

.container h3{
    font-size: 1.6em;
    font-weight: bolder;
}

.container p{
    font-size: 1.1em;
}

.container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
}

.container li{
    display: flex;
    color: #444;
    font-size: .8rem;
    font-weight: 500;
    margin: 0.5em;
    font-size: 1em;
}

.container div{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 30px;
    bottom: 30px;
}

.container a{
    color: black;
}

.container svg{
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
}

.container svg:hover{
    color: gray;
}