$hand_animation: wave_animation;
$animation-duration: 2.1s;
$animation-iteration-count: infinite;
$transform-origin: 70% 70%;

.wave {
    animation-name: #{$hand_animation};
    animation-duration: #{$animation-duration};
    animation-iteration-count: #{$animation-iteration-count};
    transform-origin: #{$transform-origin};
    display: inline-block;

    @keyframes #{$hand_animation} {
        $steps: 0%, 10%, 20%, 30%, 40%, 50%, 60%, 100%;
        $degrees: 0deg, 14deg, -8deg, 14deg, -4deg, 10deg, 0deg, 0deg;

        @for $i from 1 through length($steps) {
            #{$i * 10%} {
                transform: rotate(nth($degrees, $i));
            }
        }
    }
}