.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #fff;
    height: 90em;
    gap: 70px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

@media (max-width: 1140px) { 
    .container{
        height: 100em;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 776px) { 
    .container{
        height: 160em;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 370px) { 
    .container{
        height: 190em;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}